<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>Aleksei G. Sorokin</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>MathJax = {tex: {inlineMath: [['$', '$']]}};</script>
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Aleksei G. Sorokin</h1>
      <a href="https://github.com/alegresor/alegresor.github.io/blob/main/resume/sorokin_resume.pdf" target="_blank" class="btn">Resume</a>
      <a href="https://github.com/alegresor" target="_blank" class="btn">GitHub</a>
      <a href="https://www.linkedin.com/in/aleksei-sorokin" target="_blank" class="btn">LinkedIn</a>
      <a href="https://scholar.google.com/citations?user=q9O8NFkAAAAJ" target="_blank" class="btn">Google Scholar</a>
      <a href="mailto:asorokin@hawk.iit.edu" target="_blank" class="btn">Email</a>
      <h2 class="project-tagline">math, coding, frisbee, skiing</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>